<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
body {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  padding: 0;
  margin: auto;
}

h1 {
  font-weight: bold;
}

#right {
  width: 700px;
  position: absolute;
  left: 50%;
}

#left {
  float: left;
  width: 700px;
  position: relative;
  padding-top: 100px;
}

</style>
<body>
<h1> <%= @Player1 %> versus <%= @Player2 %> </h1>
<br />

<div  id="right"  class="w3-container w3-center">
<h1> <%= @Player2 %>: </h1>
<div class="w3-border w3-red w3-round-xlarge"  style="color:red">
  <div class="w3-green w3-round-xlarge" style="height:24px;width:<%= @Player2_health %>%"><%= @Player2_health %></div>
</div>

</div>

<div  id="left"  class="w3-container w3-center">
<h1> <%= @Player1 %>: </h1>
<div class="w3-border w3-red w3-round-xlarge"  style="color:red">
  <div class="w3-green w3-round-xlarge" style="height:24px;width:<%= @Player1_health %>%"><%= @Player1_health %></div>
</div>
<br />
<form action='/attack_player2' method="post">
  <input type="submit" value="Attack">
</form>
</div>



</body>
</html>
